<!-- Sidebar rétractable premium -->
<div id="premiumSidebar" class="premium-sidebar">
    <div class="sidebar-header d-flex align-items-center justify-content-between">
        <span >Catégories</span>
        <button id="closeSidebar" class="btn btn-link" ><i class="fas fa-times"></i></button>
    </div>
    <div class="sidebar-content d-flex">
        <div class="sidebar-categories flex-shrink-0" >
            <div class="menu-category"><i class="fas fa-fire"></i>Promotions du moment</div>
            <div class="menu-category" data-submenu="submenu-electronique"><i class="fas fa-tv"></i>Électronique grand public <i class="fas fa-angle-right"></i></div>
            <div class="menu-category"><i class="fas fa-tshirt"></i>Vêtements & Mode</div>
            <div class="menu-category"><i class="fas fa-blender"></i>Maison, Jardin & Cuisine</div>
            <div class="menu-category"><i class="fas fa-heartbeat"></i>Santé & Beauté</div>
            <div class="menu-category"><i class="fas fa-gem"></i>Bijoux & Montres</div>
            <div class="menu-category" data-submenu="submenu-informatique"><i class="fas fa-laptop"></i>Informatique & Technologies <i class="fas fa-angle-right"></i></div>
            <div class="menu-category"><i class="fas fa-baby"></i>Bébés & Mamans</div>
            <div class="menu-category"><i class="fas fa-futbol"></i>Sport & Plein air</div>
            <div class="menu-category" data-submenu="submenu-telephones"><i class="fas fa-mobile-alt"></i>Téléphones & Accessoires <i class="fas fa-angle-right"></i></div>
            <div class="menu-category"><i class="fas fa-book"></i>Livres & Bureau</div>
            <div class="menu-category"><i class="fas fa-car"></i>Auto & Moto</div>
            <div class="menu-category"><i class="fas fa-home"></i>Maison & Améliorations</div>
            <div class="menu-category"><i class="fas fa-gift"></i>Bons plans & Services</div>
        </div>
        <div class="sidebar-submenus flex-grow-1 position-relative" >
            <button id="toggleSubmenuTab" >
                <i class="fas fa-chevron-right"></i>
            </button>
            <div id="submenuTabPanel" >
                <div class="menu-submenu" id="submenu-informatique" >
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Informatique & Technologies</h6>
                            <ul >
                                <li>Ordinateurs & Tablettes</li>
                                <li>Ordinateurs portables</li>
                                <li>Moniteurs</li>
                                <li>Réseaux</li>
                                <li>Stockage & Disques</li>
                                <li>Composants informatiques</li>
                                <li>Sécurité & Protection</li>
                                <li>PC Gamer</li>
                                <li>Accessoires</li>
                            </ul>
                        </div>
                        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                            <img src="https://dummyimage.com/120x60/eee/222&text=Headphone" alt="Headphone" >
                        </div>
                    </div>
                </div>
                <div class="menu-submenu" id="submenu-electronique" >
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Électronique</h6>
                            <ul >
                                <li>Home cinéma & Théâtres</li>
                                <li>TV & Vidéos</li>
                                <li>Appareils photo & Vidéo</li>
                                <li>Téléphones & Accessoires</li>
                                <li>Casques audio</li>
                                <li>Jeux vidéo</li>
                                <li>Enceintes sans fil</li>
                                <li>Bureautique électronique</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Accessoires & Pièces</h6>
                            <ul >
                                <li>Câbles digitaux</li>
                                <li>Câbles audio & vidéo</li>
                                <li>Piles</li>
                                <li>Chargeur</li>
                            </ul>
                            <img src="https://dummyimage.com/120x60/eee/222&text=DJI+Phantom" alt="DJI Phantom" >
                        </div>
                    </div>
                </div>
                <div class="menu-submenu" id="submenu-telephones" >
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Smartphones</h6>
                            <ul >
                                <li>Téléphones iOS</li>
                                <li>Téléphones Android</li>
                                <li>Téléphones Windows</li>
                                <li>Autres smartphones</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Accessoires</h6>
                            <ul >
                                <li>Casques audio</li>
                                <li>Coques</li>
                                <li>Câbles de charge</li>
                                <li>Cartes mémoire</li>
                                <li>Autres</li>
                                <li>Écouteurs</li>
                                <li>Composants téléphone</li>
                                <li>Accessoires</li>
                            </ul>
                            <img src="https://dummyimage.com/120x60/eee/222&text=Galaxy+Note+4" alt="Galaxy Note 4" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
