{% extends 'layout.html' %}
{% block content %}
<div class="container py-5 premium-page">
    <h1 class="mb-4">Résultats de recherche</h1>
    <p>Les résultats de la recherche s'afficheront ici.</p>
    <div class="premium-feature-row row mt-5 justify-content-center">
        <div class="col-md-2 premium-feature">
            <i class="fas fa-shipping-fast"></i><br>Livraison gratuite
        </div>
        <div class="col-md-2 premium-feature">
            <i class="fas fa-undo"></i><br>Retour 90 jours
        </div>
        <div class="col-md-2 premium-feature">
            <i class="fas fa-lock"></i><br>Paiement sécurisé
        </div>
        <div class="col-md-2 premium-feature">
            <i class="fas fa-gift"></i><br>Service cadeau
        </div>
    </div>
</div>
{% endblock %}
