{% extends "base.html" %}

{% block title %}Mon Profil{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informations personnelles</h5>
                    <p class="card-text">
                        <strong>Nom d'utilisateur:</strong> {{ current_user.username }}<br>
                        <strong>Email:</strong> {{ current_user.email }}<br>
                        <strong>Membre depuis:</strong> {{ current_user.created_at.strftime('%d/%m/%Y') if current_user.created_at else 'N/A' }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
